body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #087a7a;
    background-image: url('https://static.tumblr.com/716d7c367672ce93bdb81126b3db41d8/mkleh5h/cllpz6aby/tumblr_static_c96bekr4y00g84o84wcg84kos.png');

}

.round {
    border-radius: 50%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center; /* Center the navigation items */
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px; /* Add margin to the bottom for spacing when wrapped */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#logo {
    padding: 0px 20px 0px 20px;
}

#logo2 {

}

#logo img {
    max-width: 100px;
}

#profile {
    padding: 20px;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    text-align: center;
}

@media (max-width: 850px) {
    #contact {
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Adjust margin-top for spacing */
    }

    #profile {
        width: 90%;
        margin: 0 auto;
    }
}


section {

    border: 100px solid transparent;
    border-image: url('../img/xp.png') 30 / 30px round;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


li {
    display: inline-block;
    margin: 10px;
}



a:hover {
    background-color: #733a3a;
    text-anchor: end;
}

#bordering {
    border: 100px solid transparent;
    padding: 15px;
    border-image: url('../img/xp.png') 30 / 30px round;
}

iframe{
    position: sticky;
}

.readme {
    color: #087a7a;
}



.winXP-btn {
    padding: 3px 15px 3px 15px;
    border: 2px solid transparent;
    background: transparent;
}

.winXP-btn:hover,
.winXP-btn:focus {
    outline: 0;
    border: 2px solid #B9D0F0;
}

h1 {
    font-size: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

a {
    color: #087A7AFF;
}

#contact {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 100px;
}


.checked {
    color: orange;
}

.floating-wrapper {
    transition: transform 0.5s ease-in-out; /* Smoother transition */
    cursor: pointer;
}

.floating-wrapper:hover {
    transform: translateY(-20px); /* Directly apply transform on hover */
}


#info {
    margin: 10px 500px 50px 500px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}